@import '~styles/base/variables';

.sidebar-content {
  color: $sidebar-color-text;
  position: relative;
  z-index: 20;
}
.logo {
  text-align: center;

  i {
    background-color: $sidebar-color-text;
    border-radius: 50%;
    color: $sidebar-color-primary;
    font-size: 40px;
    margin-top: 20px;
    padding: 20px;
  }
  h1 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
  }
}
hr {
  border: 1px solid $sidebar-color-text;
  margin: 20px 10px;
}
ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 10px;
    position: relative;

    &:focus {
      outline: none;
    }
    &.active {
      background-color: $sidebar-color-secondary;
    }

    i {
      margin-right: 10px;
    }
  }
}
