.layout-sidebar {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: $sidebar-width;
  z-index: 10;

  &::before {
    background: $sidebar-color-primary;
    content: '';
    height: 100%;
    position: fixed;
    top: 0;
    width: $sidebar-width;
  }
}
.layout-content {
  height: 100%;
  margin-left: $sidebar-width;
  position: relative;

  .component-container {
    height: 100%;
    padding: $default-padding;
  }
}
